.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 212 182);
  --md-sys-color-surface-tint: rgb(255 183 127);
  --md-sys-color-on-primary: rgb(62 29 0);
  --md-sys-color-primary-container: rgb(196 130 76);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 215 144);
  --md-sys-color-on-secondary: rgb(52 35 0);
  --md-sys-color-secondary-container: rgb(178 138 61);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 210 203);
  --md-sys-color-on-tertiary: rgb(72 20 13);
  --md-sys-color-tertiary-container: rgb(204 123 111);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 205);
  --md-sys-color-on-error: rgb(72 19 17);
  --md-sys-color-error-container: rgb(204 123 116);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 13);
  --md-sys-color-on-background: rgb(239 223 214);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(81 68 59);
  --md-sys-color-on-surface-variant: rgb(237 217 204);
  --md-sys-color-outline: rgb(193 174 162);
  --md-sys-color-outline-variant: rgb(158 141 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 212);
  --md-sys-color-inverse-on-surface: rgb(47 41 33);
  --md-sys-color-inverse-primary: rgb(110 59 9);
  --md-sys-color-primary-fixed: rgb(255 220 196);
  --md-sys-color-on-primary-fixed: rgb(32 12 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 127);
  --md-sys-color-on-primary-fixed-variant: rgb(86 43 0);
  --md-sys-color-secondary-fixed: rgb(255 222 167);
  --md-sys-color-on-secondary-fixed: rgb(25 15 0);
  --md-sys-color-secondary-fixed-dim: rgb(237 192 108);
  --md-sys-color-on-secondary-fixed-variant: rgb(73 50 0);
  --md-sys-color-tertiary-fixed: rgb(255 218 213);
  --md-sys-color-on-tertiary-fixed: rgb(44 1 1);
  --md-sys-color-tertiary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 36 28);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(74 68 58);
  --md-sys-color-surface-container-lowest: rgb(10 7 3);
  --md-sys-color-surface-container-low: rgb(34 29 21);
  --md-sys-color-surface-container: rgb(44 39 31);
  --md-sys-color-surface-container-high: rgb(56 50 41);
  --md-sys-color-surface-container-highest: rgb(67 61 52);
  --md-extended-color-custom-color1-color: rgb(193 224 255);
  --md-extended-color-custom-color1-on-color: rgb(0 40 65);
  --md-extended-color-custom-color1-color-container: rgb(99 149 193);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(193 224 255);
  --md-extended-color-custom-color2-on-color: rgb(0 40 65);
  --md-extended-color-custom-color2-color-container: rgb(100 149 193);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color3-color: rgb(189 225 255);
  --md-extended-color-custom-color3-on-color: rgb(0 40 62);
  --md-extended-color-custom-color3-color-container: rgb(95 150 191);
  --md-extended-color-custom-color3-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color4-color: rgb(244 208 255);
  --md-extended-color-custom-color4-on-color: rgb(56 22 72);
  --md-extended-color-custom-color4-color-container: rgb(171 130 187);
  --md-extended-color-custom-color4-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color5-color: rgb(157 236 209);
  --md-extended-color-custom-color5-on-color: rgb(0 44 33);
  --md-extended-color-custom-color5-color-container: rgb(81 159 135);
  --md-extended-color-custom-color5-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color6-color: rgb(255 213 162);
  --md-extended-color-custom-color6-on-color: rgb(55 33 0);
  --md-extended-color-custom-color6-color-container: rgb(185 135 64);
  --md-extended-color-custom-color6-on-color-container: rgb(0 0 0);
}
