.dark-high-contrast {
  --md-sys-color-primary: rgb(255 237 225);
  --md-sys-color-surface-tint: rgb(255 183 127);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(253 178 120);
  --md-sys-color-on-primary-container: rgb(23 7 0);
  --md-sys-color-secondary: rgb(255 238 213);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(233 188 105);
  --md-sys-color-on-secondary-container: rgb(18 10 0);
  --md-sys-color-tertiary: rgb(255 236 233);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 174 162);
  --md-sys-color-on-tertiary-container: rgb(34 0 0);
  --md-sys-color-error: rgb(255 236 234);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 167);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(25 18 13);
  --md-sys-color-on-background: rgb(239 223 214);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(81 68 59);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 237 225);
  --md-sys-color-outline-variant: rgb(210 191 179);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 212);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(110 59 9);
  --md-sys-color-primary-fixed: rgb(255 220 196);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 127);
  --md-sys-color-on-primary-fixed-variant: rgb(32 12 0);
  --md-sys-color-secondary-fixed: rgb(255 222 167);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(237 192 108);
  --md-sys-color-on-secondary-fixed-variant: rgb(25 15 0);
  --md-sys-color-tertiary-fixed: rgb(255 218 213);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(44 1 1);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(86 79 69);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(36 31 23);
  --md-sys-color-surface-container: rgb(53 48 39);
  --md-sys-color-surface-container-high: rgb(65 59 49);
  --md-sys-color-surface-container-highest: rgb(76 70 60);
  --md-extended-color-custom-color1-color: rgb(230 241 255);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(149 200 246);
  --md-extended-color-custom-color1-on-color-container: rgb(0 12 24);
  --md-extended-color-custom-color2-color: rgb(230 241 255);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(150 200 246);
  --md-extended-color-custom-color2-on-color-container: rgb(0 12 25);
  --md-extended-color-custom-color3-color: rgb(228 242 255);
  --md-extended-color-custom-color3-on-color: rgb(0 0 0);
  --md-extended-color-custom-color3-color-container: rgb(146 201 244);
  --md-extended-color-custom-color3-on-color-container: rgb(0 13 23);
  --md-extended-color-custom-color4-color: rgb(253 234 255);
  --md-extended-color-custom-color4-on-color: rgb(0 0 0);
  --md-extended-color-custom-color4-color-container: rgb(223 179 239);
  --md-extended-color-custom-color4-on-color-container: rgb(24 0 38);
  --md-extended-color-custom-color5-color: rgb(181 255 229);
  --md-extended-color-custom-color5-on-color: rgb(0 0 0);
  --md-extended-color-custom-color5-color-container: rgb(131 210 184);
  --md-extended-color-custom-color5-on-color-container: rgb(0 14 9);
  --md-extended-color-custom-color6-color: rgb(255 237 219);
  --md-extended-color-custom-color6-on-color: rgb(0 0 0);
  --md-extended-color-custom-color6-color-container: rgb(241 184 108);
  --md-extended-color-custom-color6-on-color-container: rgb(20 9 0);
}
