.dark {
  --md-sys-color-primary: rgb(255 183 127);
  --md-sys-color-surface-tint: rgb(255 183 127);
  --md-sys-color-on-primary: rgb(78 38 0);
  --md-sys-color-primary-container: rgb(108 58 8);
  --md-sys-color-on-primary-container: rgb(255 220 196);
  --md-sys-color-secondary: rgb(237 192 108);
  --md-sys-color-on-secondary: rgb(65 45 0);
  --md-sys-color-secondary-container: rgb(94 66 0);
  --md-sys-color-on-secondary-container: rgb(255 222 167);
  --md-sys-color-tertiary: rgb(255 180 168);
  --md-sys-color-on-tertiary: rgb(86 30 23);
  --md-sys-color-tertiary-container: rgb(115 52 43);
  --md-sys-color-on-tertiary-container: rgb(255 218 213);
  --md-sys-color-error: rgb(237, 158, 152);
  --md-sys-color-on-error: rgb(87 30 27);
  --md-sys-color-error-container: rgb(115 51 47);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(25 18 13);
  --md-sys-color-on-background: rgb(239 223 214);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(236 225 212);
  --md-sys-color-surface-variant: rgb(81 68 59);
  --md-sys-color-on-surface-variant: rgb(214 195 182);
  --md-sys-color-outline: rgb(158 142 130);
  --md-sys-color-outline-variant: rgb(81 68 59);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 212);
  --md-sys-color-inverse-on-surface: rgb(53 48 39);
  --md-sys-color-inverse-primary: rgb(137 81 31);
  --md-sys-color-primary-fixed: rgb(255 220 196);
  --md-sys-color-on-primary-fixed: rgb(47 21 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 127);
  --md-sys-color-on-primary-fixed-variant: rgb(108 58 8);
  --md-sys-color-secondary-fixed: rgb(255 222 167);
  --md-sys-color-on-secondary-fixed: rgb(39 25 0);
  --md-sys-color-secondary-fixed-dim: rgb(237 192 108);
  --md-sys-color-on-secondary-fixed-variant: rgb(94 66 0);
  --md-sys-color-tertiary-fixed: rgb(255 218 213);
  --md-sys-color-on-tertiary-fixed: rgb(59 9 5);
  --md-sys-color-tertiary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(115 52 43);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(62 56 47);
  --md-sys-color-surface-container-lowest: rgb(18 14 7);
  --md-sys-color-surface-container-low: rgb(32 27 19);
  --md-sys-color-surface-container: rgb(36 31 23);
  --md-sys-color-surface-container-high: rgb(47 41 33);
  --md-sys-color-surface-container-highest: rgb(58 52 43);
  --md-extended-color-custom-color1-color: rgb(153 204 250);
  --md-extended-color-custom-color1-on-color: rgb(0 51 81);
  --md-extended-color-custom-color1-color-container: rgb(8 75 114);
  --md-extended-color-custom-color1-on-color-container: rgb(205 229 255);
  --md-extended-color-custom-color2-color: rgb(154 203 250);
  --md-extended-color-custom-color2-on-color: rgb(0 51 82);
  --md-extended-color-custom-color2-color-container: rgb(10 74 114);
  --md-extended-color-custom-color2-on-color-container: rgb(205 229 255);
  --md-extended-color-custom-color3-color: rgb(150 205 248);
  --md-extended-color-custom-color3-on-color: rgb(0 52 78);
  --md-extended-color-custom-color3-color-container: rgb(0 75 111);
  --md-extended-color-custom-color3-on-color-container: rgb(202 230 255);
  --md-extended-color-custom-color4-color: rgb(227 183 243);
  --md-extended-color-custom-color4-on-color: rgb(68 34 84);
  --md-extended-color-custom-color4-color-container: rgb(92 57 108);
  --md-extended-color-custom-color4-on-color-container: rgb(247 216 255);
  --md-extended-color-custom-color5-color: rgb(135 214 188);
  --md-extended-color-custom-color5-on-color: rgb(0 56 43);
  --md-extended-color-custom-color5-color-container: rgb(0 81 64);
  --md-extended-color-custom-color5-on-color-container: rgb(163 242 215);
  --md-extended-color-custom-color6-color: rgb(245 188 111);
  --md-extended-color-custom-color6-on-color: rgb(69 43 0);
  --md-extended-color-custom-color6-color-container: rgb(99 63 0);
  --md-extended-color-custom-color6-on-color-container: rgb(255 221 180);
}
