.light {
  --md-sys-color-primary: rgb(137 81 31);
  --md-sys-color-surface-tint: rgb(137 81 31);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 220 196);
  --md-sys-color-on-primary-container: rgb(108 58 8);
  --md-sys-color-secondary: rgb(122 89 12);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(245 235 225);
  --md-sys-color-on-secondary-container: rgb(94 66 0);
  --md-sys-color-tertiary: rgb(144 74 64);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 218 213);
  --md-sys-color-on-tertiary-container: rgb(115 52 43);
  --md-sys-color-error: rgb(144 74 69);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(115 51 47);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(34 26 20);
  --md-sys-color-surface: rgb(255 248 243);
  --md-sys-color-on-surface: rgb(32 27 19);
  --md-sys-color-surface-variant: rgb(243 223 210);
  --md-sys-color-on-surface-variant: rgb(81 68 59);
  --md-sys-color-outline: rgb(132 116 105);
  --md-sys-color-outline-variant: rgb(214 195 182);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 48 39);
  --md-sys-color-inverse-on-surface: rgb(250 239 226);
  --md-sys-color-inverse-primary: rgb(255 183 127);
  --md-sys-color-primary-fixed: rgb(255 220 196);
  --md-sys-color-on-primary-fixed: rgb(47 21 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 127);
  --md-sys-color-on-primary-fixed-variant: rgb(108 58 8);
  --md-sys-color-secondary-fixed: rgb(245 235 225);
  --md-sys-color-on-secondary-fixed: rgb(39 25 0);
  --md-sys-color-secondary-fixed-dim: rgb(220 200 180);
  --md-sys-color-on-secondary-fixed-variant: rgb(94 66 0);
  --md-sys-color-tertiary-fixed: rgb(255 218 213);
  --md-sys-color-on-tertiary-fixed: rgb(59 9 5);
  --md-sys-color-tertiary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(115 52 43);
  --md-sys-color-surface-dim: rgb(227 216 204);
  --md-sys-color-surface-bright: rgb(255 248 243);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(253 242 229);
  --md-sys-color-surface-container: rgb(247 236 223);
  --md-sys-color-surface-container-high: rgb(242 231 217);
  --md-sys-color-surface-container-highest: rgb(236 225 212);
  --md-extended-color-custom-color1-color: rgb(44 99 139);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(205 229 255);
  --md-extended-color-custom-color1-on-color-container: rgb(8 75 114);
  --md-extended-color-custom-color2-color: rgb(45 98 140);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(205 229 255);
  --md-extended-color-custom-color2-on-color-container: rgb(10 74 114);
  --md-extended-color-custom-color3-color: rgb(39 99 137);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(202 230 255);
  --md-extended-color-custom-color3-on-color-container: rgb(0 75 111);
  --md-extended-color-custom-color4-color: rgb(117 80 133);
  --md-extended-color-custom-color4-on-color: rgb(255 255 255);
  --md-extended-color-custom-color4-color-container: rgb(247 216 255);
  --md-extended-color-custom-color4-on-color-container: rgb(92 57 108);
  --md-extended-color-custom-color5-color: rgb(18 107 86);
  --md-extended-color-custom-color5-on-color: rgb(255 255 255);
  --md-extended-color-custom-color5-color-container: rgb(163 242 215);
  --md-extended-color-custom-color5-on-color-container: rgb(0 81 64);
  --md-extended-color-custom-color6-color: rgb(128 86 17);
  --md-extended-color-custom-color6-on-color: rgb(255 255 255);
  --md-extended-color-custom-color6-color-container: rgb(235 215 195);
  --md-extended-color-custom-color6-on-color-container: rgb(99 63 0);
}
