.light-medium-contrast {
  --md-sys-color-primary: rgb(86 43 0);
  --md-sys-color-surface-tint: rgb(137 81 31);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(154 95 44);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(73 50 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(139 103 28);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(94 36 28);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(162 89 78);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(94 35 32);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(161 88 82);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(34 26 20);
  --md-sys-color-surface: rgb(255 248 243);
  --md-sys-color-on-surface: rgb(21 16 9);
  --md-sys-color-surface-variant: rgb(243 223 210);
  --md-sys-color-on-surface-variant: rgb(64 52 43);
  --md-sys-color-outline: rgb(94 80 70);
  --md-sys-color-outline-variant: rgb(121 106 96);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 48 39);
  --md-sys-color-inverse-on-surface: rgb(250 239 226);
  --md-sys-color-inverse-primary: rgb(255 183 127);
  --md-sys-color-primary-fixed: rgb(154 95 44);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(125 71 22);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(139 103 28);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(111 79 1);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(162 89 78);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(132 65 56);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(207 197 184);
  --md-sys-color-surface-bright: rgb(255 248 243);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(253 242 229);
  --md-sys-color-surface-container: rgb(242 231 217);
  --md-sys-color-surface-container-high: rgb(230 219 206);
  --md-sys-color-surface-container-highest: rgb(219 208 195);
  --md-extended-color-custom-color1-color: rgb(0 57 90);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(61 113 155);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color2-color: rgb(0 57 91);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(62 113 155);
  --md-extended-color-custom-color2-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color3-color: rgb(0 58 87);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(57 114 153);
  --md-extended-color-custom-color3-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color4-color: rgb(74 40 90);
  --md-extended-color-custom-color4-on-color: rgb(255 255 255);
  --md-extended-color-custom-color4-color-container: rgb(133 95 149);
  --md-extended-color-custom-color4-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color5-color: rgb(0 62 48);
  --md-extended-color-custom-color5-on-color: rgb(255 255 255);
  --md-extended-color-custom-color5-color-container: rgb(40 122 100);
  --md-extended-color-custom-color5-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color6-color: rgb(77 48 0);
  --md-extended-color-custom-color6-on-color: rgb(255 255 255);
  --md-extended-color-custom-color6-color-container: rgb(145 100 32);
  --md-extended-color-custom-color6-on-color-container: rgb(255 255 255);
}
